<!DOCTYPE html>
<html lang="fr">
<head>
<title>UICI | Université Internationale de Côte d'Ivoire</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Dr PRO template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
<link href="plugins/jquery-datepicker/jquery-ui.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="styles/responsive.css">
<link rel="shortcut icon" href="./images/logo/favicon.png" type="image/x-icon">
<!-- <link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
rel="stylesheet"
integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
crossorigin="anonymous"
/> -->
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header trans_400">
		<div class="header_content d-flex flex-row align-items-center jusity-content-start trans_400">

			<!-- Logo -->
			<div class="logo">
				<a href="#">
					<img src="./images/logo/logo.png" width="203" height="53" alt="" srcset="">
				</a>
			</div>

			<!-- Main Navigation -->
			<nav class="main_nav">
				<ul class="d-flex flex-row align-items-center justify-content-start">
					<li class="active"><a href="index">Accueil</a></li>
					<li><a href="about">À propos</a></li>
					<li><a href="services">Frais de scolarité</a></li>
					<li><a href="blog">Actualités</a></li>
					<li><a href="partenaire">Partenaires</a></li>
					<li><a href="contact">Contacts</a></li>
				</ul>
			</nav>
			<div class="header_extra d-flex flex-row align-items-center justify-content-end ml-auto">
				

				<!-- Header Phone -->
				<div class="header_phone d-none">(+225) 07 07 314 314</div>

				<!-- Appointment Button -->
				<div class="button button_1 header_button"><a href="#">ESPACE</a></div>

				<!-- Header Social -->
				<div class="social header_social">
					<ul class="d-flex flex-row align-items-center justify-content-start">
						<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					</ul>
				</div>

				<!-- Hamburger -->
				<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
			</div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu_overlay trans_400"></div>
	<div class="menu trans_400">
		<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
		<nav class="menu_nav">
			<ul>
				<li><a href="index">Accueil</a></li>
				<li><a href="about">À propos</a></li>
				<li><a href="services">Frais de scolarité</a></li>
				<li><a href="blog">Actualités</a></li>
				<li><a href="blog">Partenaires</a></li>
				<li><a href="contact">Contacts</a></li>
			</ul>
		</nav>
		<div class="menu_extra">
			<div class="menu_link">uiniversiteinternationaleci@gmail.com</div>
			<div class="menu_link">(+225) 07 07 314 314</div>
			<div class="menu_link"><a href="#">Make an appointment</a></div>
		</div>
		<div class="social menu_social">
			<ul class="d-flex flex-row align-items-center justify-content-start">
				<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</div>

	<!-- Home -->
	<style>
        .background_image {
            position: relative;
            width: 100%;
            background-size: cover;
            background-position: center;
        }

        .background_image::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, rgb(0, 0, 0), transparent);
        }
    </style>
	<div class="home">

		<!-- Home Slider -->
		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">
				<!-- Slide -->
				<div class="owl-item">
					<div class="background_image" style="background-image:url('/images/uici/2.jpg')"></div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content">
										<div class="home_subtitle">UNIVERSITÉ INTERNATIONALE DE CÔTE D’IVOIRE</div>
										<div class="home_title">Pourquoi Choisir UICI ?</div>
										<div class="home_text">
											<p>À l'UICI, nous offrons des programmes académiques de haut niveau, des infrastructures modernes, et un environnement d'apprentissage stimulant pour préparer nos étudiants à devenir des leaders dans leurs domaines respectifs.</p>
										</div>
										<div class="home_buttons d-flex flex-row align-items-center justify-content-start">
											<div class="button button_1 trans_200"><a href="#"><i class="fa fa-phone"></i> Appeler</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		
				<!-- Slide -->
				<div class="owl-item">
					<div class="background_image" style="background-image:url('/images/uici/1.jpg')"></div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content">
										<div class="home_subtitle">PROGRAMME DE FORMATION CONTINUE</div>
										<div class="home_title">Rejoignez Notre Programme de Formation Continue</div>
										<div class="home_text">
											<p>Nos programmes de formation continue sont conçus pour les professionnels qui souhaitent améliorer leurs compétences et rester à jour dans leur domaine. Nous offrons des cours flexibles adaptés à votre emploi du temps.</p>
										</div>
										<div class="home_buttons d-flex flex-row align-items-center justify-content-start">
											<div class="button button_1 trans_200"><a href="#">En savoir plus</a></div>
											<div class="button button_2 trans_200"><a href="#">S'inscrire maintenant</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		
				<!-- Slide -->
				<div class="owl-item">
					<div class="background_image" style="background-image:url('/images/uici/16.jpg')"></div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content">
										<div class="home_subtitle">VIE ÉTUDIANTE</div>
										<div class="home_title">Découvrez la Vie Étudiante à UICI</div>
										<div class="home_text">
											<p>La vie étudiante à l'UICI est riche et variée. Nous proposons une multitude d'activités, de clubs et d'événements pour enrichir votre expérience universitaire et favoriser des liens durables entre étudiants.</p>
										</div>
										<div class="home_buttons d-flex flex-row align-items-center justify-content-start">
											<div class="button button_1 trans_200"><a href="#">Explorer</a></div>
											<div class="button button_2 trans_200"><a href="#">Rejoignez-nous</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Home Slider Dots -->

			<div class="home_slider_dots">
				<ul id="home_slider_custom_dots" class="home_slider_custom_dots d-flex flex-row align-items-center justify-content-start">
					<li class="home_slider_custom_dot trans_200 active"></li>
					<li class="home_slider_custom_dot trans_200"></li>
					<li class="home_slider_custom_dot trans_200"></li>
				</ul>
			</div>

		</div>
	</div>

	<!-- Intro -->

	<div class="intro">
		<div class="container">
			<div class="row">

				<!-- Intro Content -->
				<div class="col-lg-6 intro_col">
					<div class="intro_content">
						<div class="section_title_container">
							<img src="/images/logo/logo.png" width="550" class="rounded mx-auto d-block" alt="...">
							<div class="section_title"><h3>L’UICI, un cadre agréable et prestigieux pour vos études
							</h3></div>
						</div>
						<div class="intro_text">
							<p>L’Université Internationale de Côte d’Ivoire (UICI) est un établissement d’enseignement supérieur privé agréé par l’Etat de Côte d’Ivoire en partenariat avec l’Université Clermont-Auvergne (France), l’UFR Audit, Contrôle Financier et Management de l’Université Paris 1 Sorbonne (France), l’Université Félix Houphouët BOIGNY et plusieurs entreprises nationales et internationales. Nos meilleurs étudiants poursuivent leurs études de Master dans nos universités partenaires en France.</p>
						</div>
						<div class="milestones">
							<div class="row milestones_row">
							
								<!-- Milestone -->
								<div class="col-md-4 milestone_col">
									<div class="milestone">
										<div class="milestone_counter" data-end-value="5000" data-sign-before="+">0</div>
										<div class="milestone_text">Etudiants</div>
									</div>
								</div>

								<!-- Milestone -->
								<div class="col-md-4 milestone_col">
									<div class="milestone">
										<div class="milestone_counter" data-end-value="052" data-sign-before="+">0</div>
										<div class="milestone_text">Enseignants</div>
									</div>
								</div>
								

								<!-- Milestone -->
								<div class="col-md-4 milestone_col">
									<div class="milestone">
										<div class="milestone_counter" data-end-value="9718" data-sign-before="+">0</div>
										<div class="milestone_text">Satisfactions</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<style>
					.icon-card {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin-bottom: 20px;
        }

        .icon-card i {
            font-size: 3rem;
            color: #e79b19;
            margin-bottom: 10px;
        }

        .icon-card h3 {
            font-size: 1.25rem;
            margin-bottom: 10px;
        }

        .icon-card p {
            color: #6c757d;
        }
				</style>

<!-- Intro Form -->
<div class="col-lg-6 intro_col">
    <div class="intro_form_container">
        <div class="intro_form_title">Espace Étudiants</div>
        <!-- Nav tabs -->
		<div class="row">
			<div class="col-md-4">
				<div class="icon-card">
					<i class="fa fa-calendar"></i>
					<h3>Emploi du Temps</h3>
					<p>Consultez votre emploi du temps en ligne</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="icon-card">
					<i class="fa fa-book"></i>
					<h3>Cours</h3>
					<p>Accédez à vos cours et matériels pédagogiques</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="icon-card">
					<i class="fa fa-clipboard"></i>
					<h3>Résultats</h3>
					<p>Visualisez vos résultats et notes</p>
				</div>
			</div>
		</div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link"
                    id="inscription-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#inscription"
                    type="button"
                    role="tab"
                    aria-controls="inscription"
                    aria-selected="true"
                >
                    Inscription
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link active"
                    id="connexion-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#connexion"
                    type="button"
                    role="tab"
                    aria-controls="connexion"
                    aria-selected="false"
                >
                    Connexion
                </button>
            </li>
        </ul>
        
        <!-- Tab panes -->
			<div class="tab-content">
				<!-- Inscription Etudiants -->

				<div
					class="tab-pane"
					id="inscription"
					role="tabpanel"
					aria-labelledby="inscription-tab"
				><br>
					<form action="#" class="intro_form" id="intro_form">
						<div class="d-flex flex-row align-items-start justify-content-between flex-wrap">
							<input type="text" class="intro_input" placeholder="Votre Nom" required="required">
							<input type="email" class="intro_input" placeholder="Votre E-mail" required="required">
							<input type="tel" class="intro_input" placeholder="Votre Téléphone" required="required">
							<select class="intro_select intro_input" required>
								<option disabled="" selected="" value="">Spécialité</option>
								<option>Spécialité 1</option>
								<option>Spécialité 2</option>
								<option>Spécialité 3</option>
								<option>Spécialité 4</option>
								<option>Spécialité 5</option>
							</select>
							<input type="text" id="datepicker" class="intro_input datepicker" placeholder="Date de Naissance" required="required">
						</div>
						<button class="button button_1 intro_button trans_200">S'inscrire</button>
					</form> 
				</div>

				<!-- Connexion Etudiants -->
				<div
					class="tab-pane active"
					id="connexion"
					role="tabpanel"
					aria-labelledby="connexion-tab"
				><br>
					<form action="#" class="intro_form" id="connexion_form">
						<div class="d-flex flex-row align-items-start justify-content-between flex-wrap">
							<input type="email" class="intro_input" placeholder="Votre E-mail" required="required">
							<input type="password" class="intro_input" placeholder="Votre Mot de Passe" required="required">
						</div>
						<button class="button button_1 intro_button trans_200">Se Connecter</button>
					</form>
				</div>

			</div>
        
    </div>
</div>


			</div>
		</div>
	</div>

	<!-- Why Choose Us -->

	<div class="why">
		<!-- <div class="background_image" style="background-image:url(images/why.jpg)"></div> -->
		<div class="container">
			<div class="row row-eq-height">
	
				<!-- Pourquoi Choisir l'UICI Image -->
				<div class="col-lg-6 order-lg-1 order-2">
					<div class="why_image_container">
						<div class="why_image"><img src="./images/uici/uicibaner1.png" alt="Image du système LMD"></div>
					</div>
				</div>
	
				<!-- Pourquoi Choisir l'UICI Content -->
				<div class="col-lg-6 order-lg-2 order-1">
					<div class="why_content">
						<div class="section_title_container">
							<div class="section_subtitle">Système LMD</div>
							<div class="section_title"><h2>Pourquoi choisir le système LMD à l'UICI ?</h2></div>
						</div>
						<div class="why_text">
							<p>Le système LMD (Licence-Master-Doctorat) est un modèle d'enseignement supérieur adopté par de nombreuses universités à travers le monde. Il offre une structure flexible et modulaire, permettant aux étudiants de construire leur parcours académique en fonction de leurs intérêts et de leurs objectifs professionnels.</p>
							<p>Les avantages du système LMD à l'UICI incluent :</p>
						
						</div>
						<div class="why_list">
							<ul>
	
								<!-- Why List Item -->
								<li class="d-flex flex-row align-items-center justify-content-start">
									<img src="./images/puces.png" width="60" alt="">
									<div class="why_list_content">
										<div class="why_list_title">Reconnaissance Internationale</div>
										<div class="why_list_text">Vos diplômes sont reconnus à l'international, ouvrant des portes à de nombreuses opportunités.</div>
									</div>
								</li>
	
								<!-- Why List Item -->
								<li class="d-flex flex-row align-items-center justify-content-start">
									<img src="./images/puces.png" width="60" alt="">
									<div class="why_list_content">
										<div class="why_list_title">Enseignants Expérimentés</div>
										<div class="why_list_text">Nos enseignants sont hautement qualifiés et expérimentés dans leurs domaines respectifs.</div>
									</div>
								</li>
	
								<!-- Why List Item -->
								<li class="d-flex flex-row align-items-center justify-content-start">
									<img src="./images/puces.png" width="60" alt="">
									<div class="why_list_content">
										<div class="why_list_title">Retour Positif</div>
										<div class="why_list_text">Nos étudiants et diplômés donnent des retours positifs sur la qualité de notre enseignement.</div>
									</div>
								</li>

                            <!-- Why List Item -->
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="./images/puces.png" width="60" alt="">
                                <div class="why_list_content">
                                    <div class="why_list_title">Orientation Professionnelle</div>
                                    <div class="why_list_text">L'UICI offre un accompagnement personnalisé pour aider les étudiants à définir et atteindre leurs objectifs professionnels, en mettant l'accent sur l'employabilité et le développement de carrière.</div>
                                </div>
                            </li>

                            <!-- Why List Item -->
                            <li class="d-flex flex-row align-items-center justify-content-start">
								<img src="./images/puces.png" width="60" alt="">
                                <div class="why_list_content">
                                    <div class="why_list_title">Vie Étudiante Enrichissante</div>
                                    <div class="why_list_text">En plus de l'excellence académique, l'UICI offre une vie étudiante dynamique avec des clubs, des associations et des événements culturels qui enrichissent l'expérience universitaire.</div>
                                </div>
                            </li>
	
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<!-- Call to action -->

	<div class="cta">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cta_container d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
						<div class="cta_content">
							<div class="cta_title">Prenez rendez-vous dès aujourd'hui !</div>
							<div class="cta_text">Rejoignez l'UICI et bénéficiez d'une éducation de qualité avec des infrastructures modernes et des enseignants expérimentés.</div>
						</div>
						<div class="cta_phone ml-lg-auto">+225 07 07 314 314</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Services -->

	<div class="services">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title_container">
						<div class="section_title"><h2>Nos Filières</h2></div>
					</div>
				</div>
			</div>
			<div class="row services_row">
				
				<!-- Filière Informatique et Sciences du Numérique (ISN) -->
				<div class="col-xl-3 col-md-6 service_col">
					<div class="service text-center card shadow">
						<div class="service">
							<img src="https://pngimg.com/d/computer_pc_PNG7720.png" width="122" alt="Icone Informatique">
							<div class="service_title">Informatique et Sciences du Numérique (ISN)</div>
							<div class="service_text">
								<p>Découvrez les bases de l'informatique, de la programmation et des technologies numériques pour une carrière florissante dans le secteur du numérique.</p>
							</div>
						</div>
					</div>
				</div>
	
				<!-- Filière Sciences Economiques et de Gestion (SEG) -->
				<div class="col-xl-3 col-md-6 service_col">
					<div class="service text-center card shadow">
						<div class="service">
							<img src="https://delta-c.net/wp-content/uploads/2019/07/economie.jpg" width="195" alt="Icone Economie">
							<div class="service_title">Sciences Economiques et de Gestion (SEG)</div>
							<div class="service_text">
								<p>Formez-vous en économie et gestion pour devenir un acteur clé dans le monde des affaires et de la finance.</p>
							</div>
						</div>
					</div>
				</div>
	
				<!-- Filière Mines, Pétrole et Energie (MPE) -->
				<div class="col-xl-3 col-md-6 service_col">
					<div class="service text-center card shadow">
						<div class="service">
							<img src="https://simeh-uemoa.com/wp-content/uploads/2023/10/Bilan-img-1.png" width="197" alt="Icone Energie">
							<div class="service_title">Mines, Pétrole et Energie (MPE)</div>
							<div class="service_text">
								<p>Acquérez des compétences spécialisées dans les secteurs des mines, du pétrole et de l'énergie pour contribuer au développement industriel et énergétique.</p>
							</div>
						</div>
					</div>
				</div>
	
				<!-- Filière Sciences Juridiques et Politiques (SJP) -->
				<div class="col-xl-3 col-md-6 service_col">
					<div class="service text-center card shadow">
						<div class="service">
							<img src="https://www.ecoles.com.tn/sites/default/files/universite/logo/fsjpst-logo_0.jpg" width="180" alt="Icone Juridique">
							<div class="service_title">Sciences Juridiques et Politiques (SJP)</div>
							<div class="service_text">
								<p>Explorez les domaines du droit et des sciences politiques pour jouer un rôle crucial dans l'administration publique et le secteur juridique.</p>
							</div>
						</div>
					</div>
				</div>
	
			</div>
		</div>
	</div>
	
	<style>
		.card {
			transition: transform 0.3s, box-shadow 0.3s;
			border-radius: 15px;
			overflow: hidden;
			background: #fff;
			transform: skewY(-2deg);
			cursor: pointer;
		}
	
		.card:hover {
			transform: scale(1.05) translateY(-10px) skewY(-2deg);
			box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
		}
	
		.card img {
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
		}
	
		.card .service {
			padding: 20px;
		}
	
		.service_title {
			font-size: 1.25em;
			font-weight: bold;
			margin-top: 15px;
		}
	
		.service_text {
			font-size: 1em;
			color: #666;
		}
	</style>
	
	

	<!-- Extra -->

	<div class="extra">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/images/uici/4.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="extra_container d-flex flex-row align-items-start justify-content-end">
						<div class="extra_content">
							<div class="extra_disc d-flex flex-row align-items-end justify-content-start">
								<div class="text-success">100<span>%</span></div>
								<div>de réussite</div>
							</div>
							<div class="extra_title">A UICI</div>
							<div class="extra_text">
								<p>100% de réussite à l'UICI. Rejoignez-nous pour une expérience académique exceptionnelle.</p>
							</div>
							<div class="button button_1 extra_link trans_200"><a href="#">en savoir plus</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Newsletter -->
	
	<div class="newsletter">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="https://t4.ftcdn.net/jpg/04/19/13/15/360_F_419131523_QbMkKL8hTHMxB15VlufQbETEf59OtzjA.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="newsletter_title">Abonnez-vous à notre newsletter</div>
				</div>
			</div>
			<div class="row newsletter_row">
				<div class="col-lg-8 offset-lg-2">
					<div class="newsletter_form_container">
						<form action="#" id="newsleter_form" class="newsletter_form">
							<input type="email" class="newsletter_input" placeholder="Votre E-mail" required="required">
							<button class="newsletter_button">s'abonner</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<!-- Footer -->
	<footer class="footer">
		<div class="footer_content">
			<div class="container">
				<div class="row">
	
					<!-- Footer About -->
					<div class="col-lg-3 footer_col">
						<div class="footer_about">
							<div class="footer_logo">
								<a href="#">
									<div>Université<span> Internationale</span></div>
									<div>de Côte d'Ivoire</div>
								</a>
							</div>
							<div class="footer_about_text">
								<p>Située à Angré, 7ème tranche, près de la pharmacie de la 7ème tranche, Cocody, Côte d'Ivoire. Nous offrons une éducation de qualité avec des installations modernes et un personnel expérimenté.</p>
							</div>
						</div>
					</div>
	
					<!-- Footer Contact Info -->
					<div class="col-lg-3 footer_col">
						<div class="footer_contact">
							<div class="footer_title">Informations de contact</div>
							<ul class="contact_list">
								<li>+225 07 07 314 314</li>
								<li>contact@uici.org</li>
							</ul>
						</div>
					</div>
	
					<!-- Footer Locations -->
					<div class="col-lg-3 footer_col">
						<div class="footer_location">
							<div class="footer_title">Nos Localisations</div>
							<ul class="locations_list">
								<li>
									<div class="location_title">Cocody, Abidjan</div>
									<div class="location_text">Angré, 7ème tranche, près de la pharmacie de la 7ème tranche</div>
								</li>
							</ul>
						</div>
					</div>
	
					<!-- Footer Opening Hours -->
					<div class="col-lg-3 footer_col">
						<div class="opening_hours">
							<div class="footer_title">Horaires d'ouverture</div>
							<ul class="opening_hours_list">
								<li class="d-flex flex-row align-items-start justify-content-start">
									<div>Lundi :</div>
									<div class="ml-auto">8:00 - 18:00</div>
								</li>
								<li class="d-flex flex-row align-items-start justify-content-start">
									<div>Mardi :</div>
									<div class="ml-auto">8:00 - 18:00</div>
								</li>
								<li class="d-flex flex-row align-items-start justify-content-start">
									<div>Mercredi :</div>
									<div class="ml-auto">8:00 - 18:00</div>
								</li>
								<li class="d-flex flex-row align-items-start justify-content-start">
									<div>Jeudi :</div>
									<div class="ml-auto">8:00 - 18:00</div>
								</li>
								<li class="d-flex flex-row align-items-start justify-content-start">
									<div>Vendredi :</div>
									<div class="ml-auto">8:00 - 18:00</div>
								</li>
							</ul>
						</div>
					</div>
	
				</div>
			</div>
		</div>
		<div class="footer_bar">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="footer_bar_content d-flex flex-md-row flex-column align-items-md-center justify-content-start">
							<div class="copyright">
								&copy;<script>document.write(new Date().getFullYear());</script> Tous droits réservés | Conçu par <a href="https://idaroot.com" target="_blank">IDA ROOT</a>
							</div>
							<nav class="footer_nav ml-md-auto">
								<ul class="d-flex flex-row align-items-center justify-content-start">
									<li><a href="index">Accueil</a></li>
									<li><a href="about">À propos de nous</a></li>
									<li><a href="services">Services</a></li>
									<li><a href="contact">Contact</a></li>
									<li><a href="privacy">Politique de confidentialité</a></li>
									<li><a href="terms">Conditions d'utilisation</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>          
		</div>
	</footer>
	
</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap-4.1.2/popper.js"></script>
<script src="styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="plugins/jquery-datepicker/jquery-ui.js"></script>
<script src="js/custom.js"></script>
<script
src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
crossorigin="anonymous"
></script>

<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
crossorigin="anonymous"
></script>

</body>
</html>